@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Montserrat&family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --main-white: #f5f6fa;
    --secondary-white: #dcdde1;
    --main-black: #2d3436;
}

#icon {
    width: 30px;
    cursor: pointer;
}

    
.dark-theme {
    --main-white: #636e72;
    --secondarh-white:#2d3436;
    --main-black: #2d3436;
    background-color: #2d3436;
}


body {
    width: 100%;
}


/*Header*/
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: var(--main-white);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.16);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header a.logo {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #2980b9;
}


#header a.logo:hover {
    color: #d35400;
    transition: 0.3s ease;
}

#navbar i {
    color: #d35400;
}

#navbar i:hover {
    color: #2d3436;
}


#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #2980b9;
    transition: 0.3s ease;
}


#navbar li a:hover,
#navbar li a.active {
    color: #e67e22;
    background-color: var(--main-white);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 65%;
    height: 4px;
    background: #e67e22;
    position: absolute;
    bottom: -8px;
    left: 20px;
}

/*End Of Header*/

#Home {
    background: var(--secondary-white);
    background-image: url("./imgs/3826396.png");
    height: 90vh;
    width: 100%;
    background-size: contain;
    background-position: top 25%, right 0;
    padding: 0 80px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#Home h4 {
    padding-bottom: 15px;
    color: #718093;
}

#Home h2 {
    color: var(--main-black);
}
#Home h1 {
    color: #487eb0;
    padding-bottom: 5px;
}

#Home p {
    padding-bottom: 15px;
    color: #718093;
}

#Home button {
    background-color: #487eb0;
    border-radius: 30px;
    border: #487eb0;
    color: var(--secondary-white);
    font-size: 18px;
    padding: 5px;
}

#Home button:hover {
    background-color: #00a8ff;
}

.laptops {
    padding: 40px 80px;
}

#Home i.fa-solid .fa-cart-shopping {
    color: var(--secondary-white);
}

#offers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

h3.offers {
    color: #00a8ff;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding-top: 25px;
}
#offers  .of-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba( 0, 0, 0, 0.04);
    border: 1px solid #00a8ff;
    border-radius: 4px;
    margin: 15px;
}

#offers  .of-box img {
    width: 150px;
}

#offers .of-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #00a8ff;
    
}
#offers .of-box button {
    border-radius: 10px;
    background-color: #00a8ff;
    color: white;
    border-color: #00a8ff;
}

#offers  .of-box:hover {
    box-shadow: 10px 10px 64px rgba( 70, 62, 221, 0.2);
}

/*Monitors*/
#Monitors {
    text-align: center;
    padding: 20px 0;
}

#Monitors .mon-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
    padding-right: 10px;
    padding-left: 10px;
}

#Monitors h2 {
    font-family: 'Lato', sans-serif;
    color: #00a8ff;
}

#Monitors .mon {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #00a8ff;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.04);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#Monitors .mon:hover {
    box-shadow: 20px 20px 30px rgba(1, 1, 1, 0.5);
}
#Monitors .mon img {
    width: 100%;
    border-radius: 25px;
}

/*Casess*/
#Cases {
    text-align: center;
    padding: 20px 0;
}

#Cases .pc-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
    padding-right: 10px;
    padding-left: 10px;
}

#Cases h2 {
    font-family: 'Lato', sans-serif;
    color: #00a8ff;
}

#Cases .PC {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #00a8ff;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.04);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#Cases .PC:hover {
    box-shadow: 20px 20px 30px rgba(1, 1, 1, 0.5);
}
#Cases .PC img {
    width: 100%;
    border-radius: 25px;
}

/*GPU*/
#Graphics {
    text-align: center;
    padding: 20px 0;
}

#Graphics .GPU-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
    padding-right: 10px;
    padding-left: 10px;
}

#Graphics h2 {
    font-family: 'Lato', sans-serif;
    color: #00a8ff;
}

#Graphics .GPU {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #00a8ff;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.04);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#Graphics .GPU:hover {
    box-shadow: 20px 20px 30px rgba(1, 1, 1, 0.5);
}
#Graphics .GPU img {
    width: 100%;
    border-radius: 25px;
}

/*GPU*/
#Accesories {
    text-align: center;
    padding: 20px 0;
}

#Accesories .acc-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
    padding-right: 10px;
    padding-left: 10px;
}

#Accesories h2 {
    font-family: 'Lato', sans-serif;
    color: #00a8ff;
}

#Accesories .acc {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #00a8ff;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.04);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#Accesories .acc:hover {
    box-shadow: 20px 20px 30px rgba(1, 1, 1, 0.5);
}
#Accesories .acc img {
    width: 100%;
    border-radius: 25px;
}



/*contact*/

#Contact {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #d35400;
}

form {
    max-width: 550px;
    width: 90%;
    background-color: var(--main-black);
    color: #d35400;
    margin: 17vh auto 0 auto;
    padding: 40px;
    border-radius: 4px;
    box-sizing: border-box;
    align-content: center;
    text-align: center;
}

#Contact h1 {
    margin: 0;
    text-align: center;
} 

label {
    display: block;
    margin: 20px 0;
}

input, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid #00a8ff;
}

input[type="text"]:focus, textarea:focus {
    border-bottom: 1px solid #d35400;
}

textarea::-webkit-scrollbar {
    width: 4px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #d35400;
}

.center {
    text-align: center;
    padding-top: 10px;
}

input[type="submit"] {
    margin-top: 30px;
    width: 90%;
    max-width: 200px;
    background-color: #d35400;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #e67e22;
}

.error {
    color: rgb(255, 0, 106);
}

.error-border {
    border-bottom: rgb(255, 0, 106);
}

#success {
    color: green;
}


/*FOOTER*/

.footer {
    background-color: var(--secondary-white);
    padding: 70px 0;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
}

.footer ul {
    list-style: none;
    color: #d35400;
}
.footer ul li:hover {
    color: #00a8ff;
}
.footer h4 {
    color: #00a8ff;
    font-weight: bold;
}

.footer h4:hover {
    color: #d35400;
}

.footer .col {
    width: 30%;
    padding: 0 10px;
}

.footer .container {
    max-width: 1150px;
    margin: auto;
}

.footer ul li {
    padding: 10px 0;
}

.footer .fa-brands {
    padding: 8px 5px;
    color: #d35400;
}

.footer .fa-brands:hover {
    color: #00a8ff;
}